main{
  position: absolute;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    color: white;
    margin: 0;
  }
  .container-fluid{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF;
  }
  /* ============= Animation background ========= */
  .background {
    background: linear-gradient(132deg, #c94c04, #FF8500, #a0be16);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
  }
  .cube {
    position: absolute;
    top: 80vh;
    left: 65vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 8s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
    border-color: #FFF ;
  }
  .cube:nth-child(2) {
    animation-delay: 2s;
    left: 20vw;
    top: 40vh;

  }
  .cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
    
  }
  .cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }
  .cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
  /* ================= Header ============ */
  main{
    position: absolute;
    top:0%;
    left: 0%;
    width:100%;
    margin: 0;
    padding: 0;
  }
  
  /* Header content & title & button*/
  .header{
    margin-top:7%;
    text-align: center;
    color:  #EFEEF5;
  }
  .header h1{
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 1px;
  }
 
  .errorMessage{
    color: red;
    font-weight: bold;
}
 /* tables styles */
 table {
     display: none;
     margin: 10px auto;
     width: 80%;
     border: 1px solid black;
     border-collapse: collapse;
     padding: 5px;
     background-color: #EEE;
     max-width: 600px;
     color: black;
 }
 thead {
     text-align: center;
     background-color: #000 ;
     color: white;
     text-transform: uppercase;
 }
 td, tr{text-align: center;
 border: 1px solid black;
 }
 
 tr:nth-child(even){
     background-color: white;
 }
/* 
 form styles */

 .form--container{
     max-width: 600px;
     padding: 20px 12px 10px 20px;
     font: 13px;
     margin: 0 auto;
    
 }
 .form--heading{
     font-weight: bold;
     font-style: italic;
     border-bottom: 2px solid #ddd;
     margin-bottom: 20px;
     font-size: 15px;
     padding-bottom: 3px;
 }
 .form--container label{
     display: block;
     margin: 0px 0px 15px 0px;
     height: 15px;
 }
 .form--container label > span{
     width: 100px;
     font-weight: bold;
     float: left;
     padding-top: 8px;
     padding-right: 5px;
 }

 .form--container input.input-field, .form .select-field{
     width: 48%;	
 }
 .form--container input.input-field, 
  .form--container .select-field{
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     border: 1px solid #C2C2C2;
     box-shadow: 1px 1px 4px #EBEBEB;
     -moz-box-shadow: 1px 1px 4px #EBEBEB;
     -webkit-box-shadow: 1px 1px 4px #EBEBEB;
     border-radius: 3px;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     padding: 7px;
     outline: none;
     text-align: center;
 }
 #priority{
     width: 20%;
 }
 .form--container .input-field:focus,  
 .form--container .select-field:focus{
     border: 1.5px solid #FF8500;
 }
 .form--container input[type=submit],
 .btn{
     border: none;
     padding: 8px 15px 8px 15px;
     background: #FF8500;
     color: #fff;
     box-shadow: 1px 1px 4px #DADADA;
     -moz-box-shadow: 1px 1px 4px #DADADA;
     -webkit-box-shadow: 1px 1px 4px #DADADA;
     border-radius: 3px;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     transition: .3s;
 }
 .form--container input[type=submit]:hover,
 .btn:hover{
     background: #EA7B00;
     color: #fff;
     cursor: pointer;
 }
 .emptyMessage{
     margin: 0 auto;
     text-align: center;
     max-width: 600;
     font-style: italic;
 }
button.btn{
    margin: 20px auto;
    display: block;
}

 /* Animate Background*/
 @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(15) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }
